.login-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions .password-button {
  color: #999;
  text-decoration: none;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container .signup-button {
  color: #999;
  text-decoration: none;
}

@media (max-width: 410px) {
  .login-inputs input {
    font-size: 14px;
  }

  .checkbox-container label,
  .actions .password-button,
  .buttons-container .signup-button {
    font-size: 14px;
  }

  .buttons-container .login-button {
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .actions {
    flex-direction: column;
  }
  
  .actions .password-button {
    margin-top: 7px;
  }
}