.input-container {
  width: 70%;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}

.input-container input {
  width: 100%;
  height: 40px;
  margin: 4px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #d3d3d3;
  border-left: 4px solid #007b36;
  border-radius: 2px;
  color: #8c8c8c;
  background-color: #f5f5f5;
}