.action-button {
  width: 70%;
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 10px 0;
  color: #fff;
  background-color: #007b36;
  transition: .2s;
}

.action-button:hover {
  cursor: pointer;
  opacity: .8;
}

@media (max-width: 410px) {
  .action-button {
    font-size: 16px;
  }
}