.asklocation-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
}

.asklocation-container h1 {
  font-size: 42px;
  text-align: center;
  color: #fff;
}

.asklocation-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 40px 20px;
}

.asklocation-container div span {
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin: 6px 0;
}

.asklocation-container img {
  margin-top: 20px;
}