.container {
  width: 45%;
  min-height: 600px;
  margin: 18px auto;
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  background-color: #f5f5f5;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.container img {
  width: 70%;
}

.container h2 {
  color: #333;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 15px;
}

@media (max-width: 1000px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}