* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

*, button, input {
  font-family: 'Josefin Sans', sans-serif;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
}

input:focus, button:focus {
  outline: 0;
}

input[type=checkbox]:hover, label:hover {
  cursor: pointer;
}