.checkbox-container {
  display: flex;
  margin: 5px 0;
}

.checkbox-container label {
  margin-left: 2px;
  color: #999;
}

@media (max-width: 410px) {
  .checkbox-container label {
    font-size: 14px;
  }
}