.reset-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-inputs .password-input {
  width: 91%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.reset-inputs .password-input .eye-icon {
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 4px;
  margin-bottom: 9px;
  padding: 7px;
  border-radius: 2px;
  background-color: #007b36;
}

.same-password {
  width: 70%;
  display: flex;
  align-items: center;
}

.same-password span {
  color: #333;
  font-weight: 500;
  font-size: 18px;
  margin-left: 4px;
  margin-top: 3px;
}