.signup-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs-terms-container {
  width: 70%;
  margin-top: 8px;
  margin-bottom: 15px;
}